<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/envell.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Envell Chat | Error</title>
    <link rel="stylesheet" crossorigin href="/assets/index-DzoaAlqi.css">
    <style>
        h1 {
            color: black;
            align-content: center;
            justify-self: center;
            font-size: 4rem;
            height: 100%;
            color: rgb(127, 24, 24);
        }
        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <h1>404 - Not Found</h1>
</body>

</html>